<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href={{CSSFILEPCLOCAL}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCAL}}>
    <link rel="stylesheet" href={{CSSFILEPCLOCALIP}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCALIP}}>
</head>
<body>
    <section class="Content-Cadastro">
        <div class="cadastro-body">
            <div class="title-cadastro">
                <h2>Cadastre-se</h2>
            </div>
            <div class="Campos-Cadastro">
                <div class="tipo-cadastro">
                    <div class="Pfisica">
                        <input type="radio" name="Pfisica" id="Pfisica">
                        <label for="Pfisica">CPF</label>
                    </div>
                    <div class="Pjuridica">
                        <input type="radio" name="Pfisica" id="Pjuridica">
                        <label for="Pjuridica">CNPJ</label>
                    </div>
                </div>
                <div class="Campos-Form">
                    <div class="separador separador-part1">
                        <div class="input-group">
                            <input type="text" required name="nome-completo" id="nome">
                            <label for="nome-completo">Nome Completo</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="usuario" id="user">
                            <label for="usuario">Usuário</label>
                        </div>
                        <div class="input-group">
                            <input type="password" required name="passwd" id="pwd">
                            <label for="passwd">Senha</label>
                        </div>
                        <div class="input-group">
                            <input type="email" required name="email" id="email">
                            <label for="email">Email</label>
                        </div>
        
                        <div class="input-group">
                            <input type="text" required name="RG" id="RG">
                            <label for="RG" id="lb_RG">RG</label>
                        </div>
                         <div class="input-group">
                            <input type="text" required name="endereco" id="endereco">
                            <label for="endereco" id="lb_end">Endereço</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="numero" id="numero">
                            <label for="numero" id="lb_numero">Número</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="UF" id="UF" maxlength="2">
                            <label for="UF" id="lb_uf">UF</label>
                        </div>
                    </div>
                    <div class="separador separador-part2">
                        <div class="input-group">
                            <input type="text" required name="CPF" id="CPF">
                            <label for="CPF" id="lb_CPF">CPF</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="CNPJ" id="CNPJ">
                            <label for="CNPJ" id="lb_CNPJ">CNPJ</label>
                        </div>
                        <div class="input-group">
                            <input type="tel" required name="Telefone" id="tel">
                            <label for="Telefone">Telefone com DDD</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="Celular" id="cel">
                            <label for="Celular">Celular com DDD</label>
                        </div>
                        
                        <div class="input-group">
                            <input type="text" required name="Data" id="data" >
                            <label for="Data">Data de Nascimento</label>
                        </div>
                         <div class="input-group">
                            <input type="text" required name="bairro" id="bairro">
                            <label for="bairro" id="lb_bairro">Bairro</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="complemento" id="complemento">
                            <label for="complemento" id="lb_complemento">Complemento</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="CEP" id="CEP">
                            <label for="CEP" id="lb_cep">CEP</label>
                        </div>
                    </div>
                    
                </div>
                <button class="btn_Cadastrar" id="btn_Cadastrar">Cadastrar</button>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <script src="{{JSCONFIG}}"></script>
    <script src="{{JSCADASTROIP}}"></script>
    <script src="{{JSFNCADASTROIP}}"></script>
</body>
</html>