<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href={{CSSFILEPCLOCAL}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCAL}}>
    <link rel="stylesheet" href={{CSSFILEPCLOCALIP}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCALIP}}>
</head>
<body>
    <section class="Content-Cadastro">
        <div class="cadastro-body">
            <div class="title-cadastro">
                <h2>Cadastre-se</h2>
            </div>
            <div class="Campos-Cadastro">
                <div class="tipo-cadastro">
                    <div class="Pfisica">
                        <input type="radio" name="Pfisica" id="Pfisica">
                        <label for="Pfisica">CPF</label>
                    </div>
                    <div class="Pjuridica">
                        <input type="radio" name="Pfisica" id="Pjuridica">
                        <label for="Pjuridica">CNPJ</label>
                    </div>
                </div>
                <div class="Campos-Form">
                    <div class="separador separador-part1">
                        <div class="input-group">
                            <input type="text" required name="nome-completo" id="inp_nome">
                            <label for="nome-completo">Nome Completo</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="usuario" id="user">
                            <label for="usuario">Usuário</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="passwd" id="pwd">
                            <label for="passwd">Senha</label>
                        </div>
                        <div class="input-group">
                            <input type="email" required name="email" id="email">
                            <label for="email">Email</label>
                        </div>
        
                        <div class="input-group">
                            <input type="text" required name="RG" id="RG">
                            <label for="RG" id="lb_RG">RG</label>
                        </div>
                    </div>
                    <div class="separador separador-part2">
                        <div class="input-group">
                            <input type="text" required name="CPF" id="CPF">
                            <label for="CPF" id="lb_CPF">CPF</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="CNPJ" id="CNPJ">
                            <label for="CNPJ" id="lb_CNPJ">CNPJ</label>
                        </div>
                        <div class="input-group">
                            <input type="tel" required name="Telefone" id="tel">
                            <label for="Telefone">Telefone com DDD</label>
                        </div>
                        <div class="input-group">
                            <input type="text" required name="Celular" id="cel">
                            <label for="Celular">Celular com DDD</label>
                        </div>
                        
                        <div class="input-group">
                            <input type="text" required name="Data" id="data" >
                            <label for="Data">Data de Nascimento</label>
                        </div>
                    </div>
                    
                </div>
                <button class="btn_Cadastrar" id="btn_Cadastrar">Cadastrar</button>
            </div>
        </div>
    </section>

    <script src="{{JSCADASTROIP}}"></script>
    <script src="{{JSFNCADASTROIP}}"></script>
</body>
</html>