<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href={{CSSFILEPCLOCAL}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCAL}}>

</head>
<body>
    <section class="view-body">
        <div class="login-form">
            <div class="logo-space">
                <div class="logo">
                    <p>Logo-Marca</p>
                </div>
            </div>
            <div class="form-login">
                <div class="input-group">
                    <input type="text" required name="username">
                    <label for="username">Usuário</label>
                </div>
                <div class="input-group">
                    <input type="text" required name="passwd">
                    <label for="passwd">Senha</label>
                </div>
            </div>

            <div class="opcoes">
                <ul>
                    <li><a href="#">Esqueceu a senha?</a></li>
                    <li><a href="{{PAGE_CADASTRO}}">Realizar cadastro.</a></li>
                </ul>
            </div>

            <button class="btn-entrar">Entrar</button>
        </div>
    </section>
</body>
</html>