<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href={{CSSFILEPCLOCAL}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCAL}}>
    <link rel="stylesheet" href={{CSSFILEPCLOCALIP}}>
    <link rel="stylesheet" href={{CSSFILEMOBILELOCALIP}}>
    <link rel="stylesheet" href={{CSSFILEURL}}>
    <link rel="stylesheet" href={{CSSFILEMOBILEURL}}>
</head>
<body>
    <section class="view-body">
        <div class="login-form">
            <div class="logo-space">
                <div class="logo">
                    <p>OK</p>
                </div>
            </div>
            <form action="#" method="post" class="form-login">
                <div class="input-group">
                    <input type="text" required name="username">
                    <label for="username">Usuário</label>
                </div>
                <div class="input-group">
                    <input type="text" required name="passwd">
                    <label for="passwd">Senha</label>
                </div>
            </form>
        </div>
    </section>
</body>
</html>