@media (max-width:1198px) {
    /*Configurando Login no Mobile*/
    section.view-body{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    div.login-form{
        width: 100% !important;
        height: 100% !important;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    div.logo{
        background-color: #2F4F4F !important;
        width: 12rem;
        height: 12rem;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-login{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .input-group{
        margin-top: 20px;
        position: relative;
    }
    .input-group > input{
        width: 16rem;
        height: 1.8rem;
        font-size: 14px;
        background: transparent;
        border: 1.2px solid #2F4F4F;
        outline: none;
        border-radius: 10px;


    }
    .input-group > label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 13pt;
        color: #2F4F4F;
        padding: 0 5px;
        pointer-events: none;
        transition: .5s;
    }

    .input-group > input:focus~label,.input-group > input:valid~label{
        top:-8px;
        font-size: 11pt;   
    }

    div.opcoes{
        width: 16rem;
        display: flex;
        justify-content: start;
    }

    div.opcoes > ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    div.opcoes > ul>li{
        margin-bottom: 0.5rem;
    }

    div.opcoes > ul>li>a{
        text-decoration: none;
        color: #2F4F4F;
        font-size: 11pt;
    }

    button.btn-entrar{
        width: 13rem;
        height: 2.5rem;
        font-size: 12pt;
        margin-top: 1.5rem;
        background-color: #2F4F4F;
        color: white;
        border: none;
    }
    button.btn-entrar:active{
        color: #2F4F4F;
        background-color: white;
        border: 1px solid #2F4F4F;
    }
    button.btn-entrar:hover{
        cursor: pointer;
    }
}

@media (max-width: 1000px) {

    div.logo{
        width: 13rem!important;
        height: 13rem !important;
        
    }
    .input-group>input{
        width: 15rem;
        height: 1.5rem;
        font-size: 16px;
    }

    .input-group > label{
        font-size: 13pt;
    }
    .input-group{
        margin-top: 1.5rem;
        position: relative;
    }
    .input-group > input:focus~label,.input-group > input:valid~label{
        top:-8px;
        font-size: 11pt;
        
    }

    div.opcoes{
        width: 15rem;
        display: flex;
        justify-content: start;
    }

    div.opcoes > ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    div.opcoes > ul>li{
        margin-bottom: 0.5rem;
    }

    div.opcoes > ul>li>a{
        text-decoration: none;
        color: #2F4F4F;
        font-size: 9pt;
    }

    button.btn-entrar{
        width: 13rem;
        height: 2.5rem;
        font-size: 12pt;
        margin-top: 1.5rem;
        background-color: #2F4F4F;
        color: white;
        border: none;
    }
    button.btn-entrar:active{
        color: #2F4F4F;
        background-color: white;
        border: 1px solid #2F4F4F;
    }

    button.btn-entrar:hover{
        cursor: pointer;
    }
}